{% extends "base.html" %}

{% block announce %}
    <span class="twemoji">
        {% include ".icons/octicons/megaphone-24.svg" %}
    </span>
    <b>ClearURLs</b> is currently being completely rewritten to make it better and faster.
    This may result in support delays.
    For updates follow <b><a href="https://twitter.com/clearurls" target="_blank" rel="noopener noreferrer">@clearurls</a></b> on
    <b>
        <a href="https://twitter.com/clearurls" target="_blank" rel="noopener noreferrer">
            <span class="twemoji twitter">
                    {% include ".icons/fontawesome/brands/twitter.svg" %}
            </span> Twitter
        </a>
    </b>
{% endblock %}